#award{
	h1{
		font-weight: 300;
		margin-top: 80px;
		margin-right: 45px;
		font-size: 45px;
		span{
			color:#22C8FF;
		}
	}
	p{
		font-weight: 400;
		font-size:16px;
		margin-right: 45px;
	}
	img{
		margin-left:60px;
		margin-top:60px;
	}
}