#feedback{
	overflow:hidden;
	.container{
		transition:all .5s ease;
		transform: translateY(-500px);
	}
	h1{
		font-weight: 300;
		padding-top: 50px;
		font-size: 45px;
		color:white;
		span{
			color:#22C8FF;
		}
	}
	p{
		font-weight: 400;
		font-size:16px;
		color:white;
	}
}
#clients{
	overflow:hidden;
	.container{
		transition:all .3s ease;
		transform:translateY(-300px);
	}
	.profile{
		margin-top: 40px;
		img{
			border-radius: 100%;
		}
		p{
			display: inline-block;
			padding-left:15px;
			position:relative;
			top:10px;
			span{
				color:#3CCEFF;
			}
		}
	}
}
@media (max-width:800px){
	#feedback{
		h1{
			font-size:27px;
		}
		p{
			font-size:17px;
		}
		.transparent{
			img:last-child{
				bottom:30px;
				right:0;
			}
		}
	}
}