#logo{
	text-align: center;
	img{
		margin-left:60px;
		margin-top:30px;
		display: none;
	}
}
@media (max-width: 400px) {
	#logo{
		img{
			margin-left: 0;
		}
		img:last-child{
			padding-bottom: 30px;
		}
	}
}