#team{
	h1{
		font-weight: 300;
		margin-top: 80px;
		font-size: 45px;
		span{
			color:#22C8FF;
		}
	}
	.text{
		font-weight: 400;
		font-size:16px;
	}
	img{
		display: inline-block;
		margin-top: 70px;
	}
	.col-md-3{
		text-align: center;
	}
	.name{
		font-size:16px;
		color:#1AC6FF;
		margin-top: 20px;
	}
	.profession{
		margin-top: -10px;
	}
}
@media (max-width:800px){
	#team{
		h1{
			font-size:27px;
		}

	}
}